div{
    color: blue;
    background-color: rgb(72, 255, 0);
}
span{
    color: black;
    background-color: rgb(14, 207, 149);
}
p{
    color: blue;
    background-color: rgb(72, 255, 0);
}
br{
    color: red;
    background-color: yellow;
}
h1{
    color: red;
    background-color: yellow;
}